@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@470&display=swap');

* {
    font-family: 'Open Sans';
}

html{
    background-color: pink;
    color: black;
}

.hdr{
    color: black;
}

.but_purple{
    background-color: purple;
    border-color: purple;
}